extends ./layout

block contenido
    div(class="bg-white col-sm-5 text-center container pt-3")
        br
        br
        h3 Previsualizacion de la imagen
        br
        br
        if(typeof imagen.creator == "undefined")    
        h4 Titulo de la Imagen:
        h6= imagen.title
        br
        h4 Descripcion de la Imagen:
        h6= imagen.descripcion
        br
        h4 Imagen Creada por :
        h6 #{imagen.creator.nombre}
        br
        h5 Correo Electronico:
        h6 #{imagen.creator.email}
        br
        h4 Imagen a mostrar:
        br
        img(src="/imagenes/#{imagen._id}.#{imagen.extension}" class="main-img" style="height: 400px; width: 300px;")
        br
        br
        a.btn(class="btn btn-success" href="/app/imagenes/") Aceptar y volver a la pagina de paginas
        br
        br

        



